<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include "partials/navigation.html.twig" %}
        <main class="max-w-7xl mx-auto px-4">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
